body {
	background-color: #FFFAFA;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	margin: 0;
}

header {
	color: black;
	margin: 5px 0;
	font-family: "Times New Roman" , Times, serif;
}

h2, h3, h4 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
}

p {
    color: black;
    font-family:'New Gothic Style' , sans-serif;
    margin: 5px 0;
}

.hero {
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url("images/books.jpg");
    background-size:cover;
    background-position: center top;
	background-position: 50% 30%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.hero h1 {
	color: white;
	font-size: 32px;
	white-space: nowrap;
}

nav {
	border-radius: 10px;
	text-align: center;
	gap: 12px;
}

nav a{
	font-weight: bold;
	font-size: 18px;
	color: #F5F5F5;
	margin: 6px;
	transition: 0.3s;
}

nav a:hover{
	color: #3F000F;
}

.table-container {
	width: 60%;
	max-width: 600px;
	margin: 40px auto;
	overflow-x: auto;
	padding: 0;
	border: 1px solid #11001C;
	box-shadow: 0 4px 12px rgba(0,0,0,0.4);
	margin-top: 10px;

}

table {
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	border-radius: 0;
}

td:hover {
	background-color: rgba(63, 0, 15. 0.4);
	transition: 0.2s;
}

th {
	font-weight: bold;
	font-size: 18px;
	border: 2px solid #11001C;
	padding: 6px 8px;
	background-color: #3F000F;
	color: #C9C0BB;
}

td {
	border: 2px solid #11001C;
	padding: 6px;
	background-color: #C9C0BB;
	color: #3F000F;
}

.form-container {
	width: 300px;
	box-shadow: 0 0 10px rgba(107,42,58,0.5);
	margin: auto;
	padding: 8px;
	margin-top: 30px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

label{
	color: black;
	width: 175px;
	display: block;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
}

input, select, textarea {
	width: 175px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

button{
	background-color: black;
	color: #8C001A;
	border-radius: 25px;
	padding: 4px 6px;
	font-size: 14px;
	width: 120px;
	margin-top: 12px;
}

button:hover {
	background-color: #3A2A33;
}

.footer {
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
	background-color: #3F000F;
    text-align: center;
    padding: 8px 0;
    box-shadow: 0 -4px 10px rgba(0,0,0,0.5);
}

.footer p {
	color: white;
	font-weight: bold;
}

main {
	flex: 1;
	min-height: 100vh;
}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

























































































































